<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.StockRelateStrategyMapper">

    <resultMap id="StockRelateStrategyMapper" type="com.tencent.wxcloudrun.model.StockRelateStrategy">
        <id property="id" column="id"/>
        <result property="stkcode" column="stkcode"/>
        <result property="sid" column="sid"/>
        <result property="createdAt" column="createdAt" javaType="java.time.LocalDateTime" />
        <result property="updatedAt" column="updatedAt" javaType="java.time.LocalDateTime"  />
    </resultMap>

    <select id="getStrategyByStockCode" resultMap="StockRelateStrategyMapper" parameterType="java.lang.Integer">
        SELECT `id`, `stkcode`, `sid`, `createdAt`, `updatedAt`
        FROM StockRelateStrategy
        WHERE stkcode = #{stkcode}
    </select>

    <select id="getStockByStrategyId" resultMap="StockRelateStrategyMapper" parameterType="java.lang.Integer">
        SELECT `id`, `stkcode`, `sid`, `createdAt`, `updatedAt`
        FROM StockRelateStrategy
        WHERE sid = #{sid}
    </select>

    <delete id="deleteStockRelateStrategy" parameterType="java.lang.Integer">
        DELETE
        FROM StockRelateStrategy
        where id = #{id}
        limit 1
    </delete>

    <update id="upsertStockRelateStrategy" parameterType="com.tencent.wxcloudrun.model.StockRelateStrategy">
        INSERT INTO `StockRelateStrategy`(`id`, `stkcode`, `sid`)
        VALUE(#{id}, #{stkcode}, #{sid})
        ON DUPLICATE KEY UPDATE stkcode=#{stkcode}
    </update>

</mapper>
